<%@title = "Cambiar contraseña"%>
<article class="row desktop-wrapper">
  <div class="title-wrapper col-s-12 col-md-11">
    <hr class="separador-desktop">
    <h1>Cambiar contraseña</h1>
    <hr class="separador-mobile">
  </div>
  <div class="body-text row col-md-11 col-s-10">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="row">
        <div class="col-s-10 col-md-7">
            <p>Ingresa los datos a continuación.</p><br/>
        </div>
        <div class="field col-s-10 col-md-7">
          <%= f.label :password, "Nueva contraseña" %>
            <em>(<%= @minimum_password_length %> caracteres mínimo)</em><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'register-field col-s-12 col-md-12' %>
        </div>
        <div class="field col-s-10 col-md-7">
          <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'register-field col-s-12 col-md-12' %>
        </div>

        <div class="actions col-s-10 col-md-7 button-wrapper">
          <%= f.submit "Cambiar mi contraseña", id: 'button', class: 'button'  %>
        </div>
      </div>
    <% end %>
  </div>
</article>
