<%@title = "Olvide mi contraseña"%>
<article class="about-wrapper col-s-10 col-md-12">
  <div class="content-wrapper desktop-wrapper row">
    <div class="title-wrapper col-s-12 col-md-11">
      <hr class="separador-desktop">
      <h1>¿Has olvidado tu contraseña?</h1>
      <hr class="separador-mobile">
    </div>
    <div class="body-text row col-md-11 col-s-10">
        <p>Ingresa los datos a continuación.</p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:'row login-form' }) do |f| %>

        <% if resource.errors.any? %>
          <div id="error_explanation" class="alert col-s-12 col-md-7">
            <h2><%= resource.errors.count %> error/es evitaron el envio:</h2>
            <ul>
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end%>

        <div class="row">
          <div class="field col-s-10 col-md-7">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'register-field col-s-12 col-md-12' %>
          </div>

          <div class="actions col-s-10 col-md-7 button-wrapper">
            <%= f.submit "Enviar instrucciones",id: 'button', class: 'button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
