<header id="header">
  <a href="javascript:void(0)" id="openbtn" onclick="openNav()">&#9776;</a>
  <div id="my-sidenav" class="sidenav">
    <div id="burger-menu-logo-wrapper" class="row">
      <div class="col-s-11">
        <%=link_to image_tag('logoAlex.png', {alt:'Logo de alex', class: 'burger-menu-logo'}), :root%>
      </div>
      <div class="col-s-1">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
      </div>
    </div>

    <div class="col-s-12">
      <%=link_to "INICIO", root_path%>
      <%=link_to "SERVICIOS", services_path%>
      <%=link_to "SOBRE NOSOTROS", about_path%>
      <%=link_to "NOTICIAS", publications_path%>
      <%=link_to "CONTACTO", contact_path%>
    </div>
    <div class="col-s-12 social-media-menu">
      <ul>
        <li>
          <%= link_to image_tag('facebook-logo.png',{alt:'Enlace a Facebook', class:'social-icon'})%>
        </li>
        <li>
          <%= link_to image_tag('twitter-logo.png',{alt:'Enlace a Twitter', class:'social-icon'})%>
        </li>
        <li>
          <%= link_to image_tag('instagram-logo.png',{alt:'Enlace a Instagram', class:'social-icon'})%>
        </li>
      </ul>
    </div>
  </div>
</header>
