<!DOCTYPE html>
<html>
  <head>
    <title>Alex | <%=@title%></title>
    <meta name="description" content="Alex es una empresa de instalacion y venta de aire acondicionado e instalaciones electricas con mas de .. años de experiencia.">
    <meta name="keywords" content="Electricidad,Electricista,Montevideo,Uruguay,Corriente,Aire,Acondicionado,Frio,Calor,Alex,Alexander">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%=favicon_link_tag 'logoCuadrado.png'%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="row">
    <%if action_name == "home" %>
      <%= render 'layouts/nav-menu'%>
    <%else%>
      <%=render 'layouts/nav-blue-menu' %>
    <%end %>
    <%= yield %>

    <footer id="footer" class="row">
      <div class="col-s-12 col-md-12">
        <hr class="separador-footer">
      </div>
      <div id ="social-media" class ="row col-s-10 col-md-11">
        <div class="col-s-9 footer-logo-wrapper"  >
          <%=link_to image_tag('logoAlexAzul.png', {alt:'Logo de alex', class: 'footer-logo-image'}), :root%>
          </br>
          <%=link_to image_tag('user.png', {alt:'Ingresar', class:'social-icon'}), :new_user_session%>
        </div>

        <div class="col-md-6 mail-footer">
          <p><span><%=link_to image_tag('user.png', {alt:'Ingresar', class:'social-icon'}), :new_user_session%></span>    airealexmontevideo@gmail.com</p>

        </div>

        <div class="col-s-3 col-md-6 footer-social-wrapper">
          <ul>
            <li><a href="https://www.facebook.com/aireacondicionadouruguay/">Facebook</a></li>
            <li><a href="https://twitter.com/airealex1">Twitter</a></li>
            <li><a href="https://www.instagram.com/aireacondicionadoalex/">Instagram</a></li>
          </ul>

        </div>
      </div>
    </footer>
  </body>
