<!DOCTYPE html>
<html>
  <head>
    <title>Alex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="row">
    <header id="header" class="col-s-12">
      <nav id="my-sidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">INICIO</a>
        <a href="#">SOBRE NOSOTROS</a>
        <a href="#">SERVICIO</a>
        <a href="#">NOTICIAS</a>
        <a href="#">CONTACTO</a>
      </nav>
    </header>

    <%= yield %>

    <footer id="footer">
      <section id ="phone-number">

      </section>
      <section id ="social-media">

      </section>
    </footer>
  </body>
