<%@title = "Editar usuario"%>
<section class="row content-wrapper desktop-wrapper">

  <div class="title-wrapper col-s-10 col-md-11">
    <hr class="separador-desktop">
    <h1>Editar usuario</h1>
    <hr class="separador-mobile">
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:'row login-form' }) do |f| %>
    <%= devise_error_messages! %>
    <div class="row col-md-11">
      <div class="field col-s-10 col-md-7">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"register-field col-s-12 col-md-12" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field col-s-10 col-md-7">
          <%= f.label "Contraseña" %> <i>(Dejar en blanco si no desea cambiarla.)</i><br />
          <%= f.password_field :password, autocomplete: "off", class:"register-field col-s-12 col-md-12" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field col-s-10 col-md-7">
          <%= f.label "Confirmar contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"register-field col-s-12 col-md-12" %>
        </div>

        <div class="field col-s-10 col-md-7">
          <%= f.label "Contraseña actual" %><i>(Necesaria para confirmar los cambios.)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class:"register-field col-s-12 col-md-12" %>
        </div>

        <div class="actions col-s-10 col-md-7">
          <%= f.submit "Actualizar", class:"admin-button", style:"margin-bottom: 1rem;"%>
          <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class:"admin-button" %>
        </div>
      </div>
    <% end %>



</section>
